body {
  padding: 0;
  margin: 0; }

.ng-hide-add {
  opacity: 1.0;
  display: block !important;
  transition: opacity .5s; }

.ng-hide-add-active {
  opacity: 0; }

.ng-hide-remove {
  opacity: 0;
  display: block !important;
  transition: opacity .5s; }

.ng-hide-remove-active {
  opacity: 1; 
}

/*
.chart-loading { 
	position: absolute;
	text-align: center;
	width: 100%;
}


*/

