.animate-fade.ng-hide-add {
  opacity: 1.0;
  display: block !important;
  transition: opacity .5s; }

.animate-fade.ng-hide-add-active {
  opacity: 0; }

.animate-fade.ng-hide-remove {
  opacity: 0;
  display: block !important;
  transition: opacity .5s; }

.animate-fade.ng-hide-remove-active {
  opacity: 1; }

#histogram {
  position: relative; }

.chart-loading {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 100px; }

.y.axis path, .x.axis path {
  fill: none;
  stroke-width: 1px;
  stroke: grey; }
